@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2222 47.3684% 11.1765%;
		--card: 210 40% 98.0392%;
		--card-foreground: 222.2222 47.3684% 11.1765%;
		--popover: 0 0% 100%;
		--popover-foreground: 222.2222 47.3684% 11.1765%;
		--primary: 221.2121 83.1933% 53.3333%;
		--primary-foreground: 0 0% 100%;
		--secondary: 214.2857 31.8182% 91.3725%;
		--secondary-foreground: 222.2222 47.3684% 11.1765%;
		--muted: 210 40% 96.0784%;
		--muted-foreground: 215.3846 16.318% 46.8627%;
		--accent: 226.4516 100% 93.9216%;
		--accent-foreground: 221.2121 83.1933% 53.3333%;
		--destructive: 0 84.2365% 60.1961%;
		--destructive-foreground: 0 0% 100%;
		--border: 214.2857 31.8182% 91.3725%;
		--input: 210 40% 98.0392%;
		--ring: 221.2121 83.1933% 53.3333%;
		--chart-1: 221.2121 83.1933% 53.3333%;
		--chart-2: 217.2193 91.2195% 59.8039%;
		--chart-3: 213.1169 93.9024% 67.8431%;
		--chart-4: 211.6981 96.3636% 78.4314%;
		--chart-5: 213.3333 96.9231% 87.2549%;
		--sidebar: 0 0% 100%;
		--sidebar-foreground: 222.2222 47.3684% 11.1765%;
		--sidebar-primary: 221.2121 83.1933% 53.3333%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 226.4516 100% 93.9216%;
		--sidebar-accent-foreground: 221.2121 83.1933% 53.3333%;
		--sidebar-border: 214.2857 31.8182% 91.3725%;
		--sidebar-ring: 221.2121 83.1933% 53.3333%;
		--font-sans: var(--font-sans);
		--font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
		--font-mono: var(--font-mono);
		--radius: 0.225rem;
		--shadow-x: 0px;
		--shadow-y: 2px;
		--shadow-blur: 0.25rem;
		--shadow-spread: 0;
		--shadow-opacity: 0.1;
		--shadow-color: #000000;
		--shadow-2xs: 0px 2px 0.25rem 0 hsl(0 0% 0% / 0.05);
		--shadow-xs: 0px 2px 0.25rem 0 hsl(0 0% 0% / 0.05);
		--shadow-sm: 0px 2px 0.25rem 0 hsl(0 0% 0% / 0.1),
			0px 1px 2px -1px hsl(0 0% 0% / 0.1);
		--shadow: 0px 2px 0.25rem 0 hsl(0 0% 0% / 0.1),
			0px 1px 2px -1px hsl(0 0% 0% / 0.1);
		--shadow-md: 0px 2px 0.25rem 0 hsl(0 0% 0% / 0.1),
			0px 2px 4px -1px hsl(0 0% 0% / 0.1);
		--shadow-lg: 0px 2px 0.25rem 0 hsl(0 0% 0% / 0.1),
			0px 4px 6px -1px hsl(0 0% 0% / 0.1);
		--shadow-xl: 0px 2px 0.25rem 0 hsl(0 0% 0% / 0.1),
			0px 8px 10px -1px hsl(0 0% 0% / 0.1);
		--shadow-2xl: 0px 2px 0.25rem 0 hsl(0 0% 0% / 0.25);
		--tracking-normal: -0.025em;
		--spacing: 0.25rem;
	}

	.dark {
		--background: 240 10% 3.9216%;
		--foreground: 240 5.8824% 90%;
		--card: 240 5.8824% 10%;
		--card-foreground: 240 5.8824% 90%;
		--popover: 240 10% 3.9216%;
		--popover-foreground: 240 5.8824% 90%;
		--primary: 221.2121 83.1933% 53.3333%;
		--primary-foreground: 0 0% 100%;
		--secondary: 240 3.7037% 15.8824%;
		--secondary-foreground: 240 5.8824% 90%;
		--muted: 240 4.6154% 12.7451%;
		--muted-foreground: 240 5.0279% 64.902%;
		--accent: 240 5.2632% 26.0784%;
		--accent-foreground: 240 5.8824% 90%;
		--destructive: 0 84.2365% 60.1961%;
		--destructive-foreground: 0 0% 100%;
		--border: 240 3.7037% 15.8824%;
		--input: 240 5.8824% 10%;
		--ring: 221.2121 83.1933% 53.3333%;
		--chart-1: 221.2121 83.1933% 53.3333%;
		--chart-2: 217.2193 91.2195% 59.8039%;
		--chart-3: 213.1169 93.9024% 67.8431%;
		--chart-4: 211.6981 96.3636% 78.4314%;
		--chart-5: 213.3333 96.9231% 87.2549%;
		--sidebar: 240 10% 3.9216%;
		--sidebar-foreground: 240 5.8824% 90%;
		--sidebar-primary: 221.2121 83.1933% 53.3333%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 240 5.2632% 26.0784%;
		--sidebar-accent-foreground: 240 5.8824% 90%;
		--sidebar-border: 240 3.7037% 15.8824%;
		--sidebar-ring: 221.2121 83.1933% 53.3333%;
		--font-sans: var(--font-sans);
		--font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
		--font-mono: var(--font-mono);
		--radius: 0.225rem;
		--shadow-x: 0px;
		--shadow-y: 2px;
		--shadow-blur: 0.25rem;
		--shadow-spread: 0;
		--shadow-opacity: 0.1;
		--shadow-color: #000000;
		--shadow-2xs: 0px 2px 0.25rem 0 hsl(0 0% 0% / 0.05);
		--shadow-xs: 0px 2px 0.25rem 0 hsl(0 0% 0% / 0.05);
		--shadow-sm: 0px 2px 0.25rem 0 hsl(0 0% 0% / 0.1),
			0px 1px 2px -1px hsl(0 0% 0% / 0.1);
		--shadow: 0px 2px 0.25rem 0 hsl(0 0% 0% / 0.1),
			0px 1px 2px -1px hsl(0 0% 0% / 0.1);
		--shadow-md: 0px 2px 0.25rem 0 hsl(0 0% 0% / 0.1),
			0px 2px 4px -1px hsl(0 0% 0% / 0.1);
		--shadow-lg: 0px 2px 0.25rem 0 hsl(0 0% 0% / 0.1),
			0px 4px 6px -1px hsl(0 0% 0% / 0.1);
		--shadow-xl: 0px 2px 0.25rem 0 hsl(0 0% 0% / 0.1),
			0px 8px 10px -1px hsl(0 0% 0% / 0.1);
		--shadow-2xl: 0px 2px 0.25rem 0 hsl(0 0% 0% / 0.25);
	}

}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
		font-feature-settings: 'rlig' 1, 'calt' 1;
	}
}


